@charset "UTF-8";

.footer-img {
  display: block;
  margin: 40px auto 0 auto;
}

.center-container {
  text-align: center;
  margin-top: 20px;
}

.center-container img {
  display: inline-block;
  margin: 5px;
}